@import "tailwindcss";
 
  /* Hide scrollbar in Chrome, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE/Edge */
}